services:
  cookie-agent:
    container_name: cookie-agent
    image: cookie-agent
    build: .
    environment:
      API_KEY: "abcdef0123456789abcdef0123456789"
      GET_WORK_URL: "http://172.17.0.1/api/admin/cookies/getwork"
      PUSH_RESULTS_URL: "http://172.17.0.1/api/admin/cookies/push"
      CHROMEDRIVER_PATH: "/usr/bin/chromedriver"
      LIMIT: 69
    ports:
      - "4444:4444"
      - "7900:7900"
    shm_size: 2g
    dns:
      - 1.1.1.1
    tty: true
    restart: unless-stopped